<header>
<h1>Books</h1>
</header>

<main>

<table>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>

    <tr>
      <td>a</td>
      <td>b</td>
      <td>Show</td>
      <td>Edit</td>
      <td>Destroy</td>
    </tr>
  
</table>

</main>