
    <p class="show-text">
        <strong>Title:</strong>
        <%= @book.title %>
     </p>
 
     <p class="show-text">
        <strong>Body:</strong>
        <%= @book.body %>
     </p>

 
 <p>
    <span>
        <%= link_to "Edit", edit_book_path(@book.id) %>
    </span>
    <span>|</sp>
    <span>
        <%= link_to "Back", "/books" %>
    </span>
</p>