// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main{
  width: 100%;
  display: block;
  margin: 33px;
}

a {
  color: #000;
}
a:hover {
  color: white;
  background-color: black;
}